apiVersion: 1

datasources:
{% for ds in grafana_datasources %}
  - name: {{ ds.name }}
    type: {{ ds.type }}
    url: {{ ds.url }}
    access: proxy
    isDefault: {{ ds.is_default | default(false) | lower }}
    editable: true
{% endfor %}
